@font-face {
  font-family: 'Aller';
  src: url("../fonts/aller/aller_regular/aller_regular.eot");
  src: url("../fonts/aller/aller_regular/aller_regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/aller/aller_regular/aller_regular.woff") format("woff");
  src: url("../fonts/aller/aller_regular/aller_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Aller Light';
  src: url("../fonts/aller/aller_light/aller_light.eot");
  src: url("../fonts/aller/aller_light/aller_light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/aller/aller_light/aller_light.woff") format("woff");
  src: url("../fonts/aller/aller_light/aller_light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Aller Italic';
  src: url("../fonts/aller/aller_italic/aller_italic.eot");
  src: url("../fonts/aller/aller_italic/aller_italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/aller/aller_italic/aller_italic.woff") format("woff");
  src: url("../fonts/aller/aller_italic/aller_italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Aller Bold';
  src: url("../fonts/aller/aller_bold/aller_bold.eot");
  src: url("../fonts/aller/aller_bold/aller_bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/aller/aller_bold/aller_bold.woff") format("woff");
  src: url("../fonts/aller/aller_bold/aller_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Aller', Arial, Helvetica, sans-serif; }

a,
select,
option {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

img {
  width: 100%;
  height: auto; }

li {
  list-style: none; }

.main {
  min-height: 100%;
  overflow: hidden;
  position: relative; }
  .main::after {
    content: '';
    height: 115px;
    display: block; }

.content {
  position: relative;
  max-width: 960px;
  margin: 0 auto; }

.title {
  display: inline-block;
  padding: 40px 10px 25px 10px;
  font-family: 'Aller Light', Arial, Helvetica, sans-serif;
  font-weight: 200; }

.breadcrumbs {
  display: inline-block;
  color: #bcb5a7;
  font-size: 12px;
  font-family: 'Aller Bold', Arial, Helvetica, sans-serif; }

.description {
  display: inline-block;
  padding: 0 9px;
  color: #bcb5a7;
  font-size: 14px; }

.button {
  display: inline-block;
  margin: 40px 10px 25px 0;
  color: #bcb5a7;
  font-size: 14px;
  font-family: 'Aller Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #bcb5a7; }
  .button:hover {
    color: #57c5a0;
    border: 1px solid #57c5a0; }
  .button__icon {
    display: block;
    padding: 9px; }
  .button__text {
    display: block;
    color: #bcb5a7; }
    .button__text:hover {
      color: #57c5a0; }
    .button__text_show-all {
      padding: 9px 20px; }
    .button__text_sort {
      padding: 9px 9px 9px 35px; }
      .button__text_sort:hover {
        color: #57c5a0; }

.hide_lg {
  display: none !important; }

@media screen and (max-width: 768px) {
  .content {
    max-width: 640px; }
  .hide_md {
    display: none !important; } }

@media screen and (max-width: 640px) {
  .content {
    max-width: 640px; }
  .hide_sm {
    display: none !important; }
  .show_sm-inline-block {
    display: inline-block !important; } }

.clearfix::after, .clearfix::before {
  display: table;
  content: ''; }

.clearfix::after {
  clear: both; }

.header__top {
  background-color: #242424; }

.logo {
  padding: 10px 10px; }
  .logo__link {
    color: #57c5a0;
    font-size: 22px; }

.search {
  position: relative;
  display: inline-block;
  margin-right: -4px; }
  .search__input {
    width: 170px;
    height: 47px;
    padding: 0 40px 0 20px;
    color: #7e7e7e;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #242424;
    border: none;
    border-left: 1px solid #383838;
    border-right: 1px solid #383838; }
  .search__button {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #7e7e7e;
    background-color: transparent;
    border: none;
    font-size: 14px; }
  .search__result {
    position: absolute;
    top: 100%;
    width: 100%;
    color: #7e7e7e;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 1; }
  .search__item {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #666464;
    background-color: #4c4c4c; }

input[type="search"]:focus,
button:focus {
  outline: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.enter {
  display: inline-block;
  margin-right: -4px;
  padding-right: 10px; }
  .enter__button {
    width: 140px;
    height: 47px;
    color: #7e7e7e;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-right: 1px solid #383838;
    cursor: pointer; }

.navigation {
  height: 60px;
  padding: 0 10px; }
  .navigation_right {
    text-align: right; }
  .navigation__menu {
    display: block; }
  .navigation__element {
    display: inline-block;
    padding: 20px 0;
    margin-right: -4px;
    border-right: 1px solid #eeeeee; }
    .navigation__element:first-child {
      border-left: 1px solid #eeeeee; }
    .navigation__element_hide {
      display: none; }
  .navigation__link {
    padding: 20px;
    color: #505050;
    font-size: 16px; }
    .navigation__link:hover {
      color: #57c5a0; }
    .navigation__link:hover > .navigation__counter {
      background-color: #57c5a0; }
    .navigation__link_active {
      color: #57c5a0; }
  .navigation__icon {
    color: #787878;
    vertical-align: middle; }
  .navigation__counter {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    margin-left: 3px;
    padding: 2px 2px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: #adadad;
    -webkit-border-radius: 4px;
            border-radius: 4px; }

@media screen and (max-width: 810px) {
  .navigation__link {
    padding: 20px 17px; } }

@media screen and (max-width: 768px) {
  .navigation__link {
    padding: 20px 10px; } }

@media screen and (max-width: 630px) {
  .navigation__element_hide {
    display: inline-block; }
  .navigation__element_hide-md {
    display: none; } }

@media screen and (max-width: 480px) {
  .navigation__link {
    padding: 20px; } }

.section {
  position: relative; }
  .section_gray {
    background-color: #2e2e2e; }
  .section_light-gray {
    background-color: #ebe7df; }
  .section_dark-gray {
    background-color: #242424; }
  .section_top {
    height: 260px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; }
  .section_offer {
    padding: 15px 0; }
  .section_best {
    padding-bottom: 35px; }
  .section_addon {
    border-top: 1px solid #cccccc;
    padding: 15px 0; }
  .section_widget {
    padding-top: 40px;
    border-bottom: 1px solid #1c1c1c; }
  .section_all {
    padding-bottom: 35px; }

.slider {
  position: relative; }
  .slider__block {
    width: 10000px; }
  .slider__element {
    float: left; }
  .slider__text, .banner__text {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 25%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .slider__square, .banner__square {
    position: relative;
    width: 68px;
    height: 68px;
    text-transform: uppercase;
    color: #ffffff; }
    .slider__square_green, .banner__square_green {
      background-color: #57c5a0; }
  .slider__title, .banner__title {
    padding-top: 10px;
    font-size: 35px;
    color: #565655;
    font-weight: 300;
    line-height: 1; }
  .slider__description, .banner__description {
    padding-top: 10px;
    color: #242424;
    font-family: 'Aller Light', Arial, Helvetica, sans-serif; }
  .slider__panel {
    padding-top: 10px; }
    .slider__panel_icon {
      display: inline-block;
      padding: 10px 12px;
      text-align: right;
      color: #6e6e6e;
      background-color: #fafaf9;
      cursor: pointer; }
      .slider__panel_icon:hover {
        color: #57c5a0; }
  .slider__navigation {
    padding: 6px 0 25px 0;
    text-align: center;
    background-color: #2e2e2e; }
  .slider__content {
    max-width: 960px;
    margin: 0 auto; }
  .slider__button {
    display: inline-block;
    width: 190px;
    margin-right: -4px;
    cursor: pointer; }
    .slider__button_active > .slider__button_title {
      color: #ffffff; }
    .slider__button_active > .slider__button_description {
      color: #adadad; }
    .slider__button_active > .slider__line > .slider__line_inner {
      background-color: #57c5a0; }
    .slider__button:hover > .slider__button_title {
      color: #ffffff; }
    .slider__button:hover > .slider__button_description {
      color: #adadad; }
    .slider__button:hover > .slider__line > .slider__line_inner {
      background-color: #57c5a0; }
    .slider__button_title {
      padding-top: 15px;
      font-size: 18px;
      color: #979797; }
    .slider__button_description {
      font-size: 12px;
      color: #6e6e6e; }
  .slider__line {
    padding: 3px 3px;
    background-color: #000000; }
    .slider__line_inner {
      height: 6px;
      background-color: #000000; }

@media screen and (max-width: 768px) {
  .slider__text, .banner__text {
    width: 35%; } }

@media screen and (max-width: 640px) {
  .slider {
    height: 460px;
    background-image: url(../img/slide.jpg);
    background-position: 25%;
    background-repeat: no-repeat; }
    .slider__text, .banner__text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1; }
  .modal_flickr {
    background-color: rgba(0, 0, 0, 0.9); }
  .modal__content {
    width: 30%;
    margin: 10% auto;
    padding: 20px 20px 40px 20px;
    background-color: #fafaf9; }
  .modal__close {
    color: #6e6e6e;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; }
    .modal__close:hover, .modal__close:focus {
      color: #57c5a0;
      text-decoration: none; }
    .modal__close_flickr {
      position: absolute;
      top: 15px;
      right: 35px;
      font-size: 40px;
      font-weight: bold; }
  .modal__image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: block;
    width: 80%;
    max-width: 700px; }
  .modal__label {
    display: block;
    padding: 20px 0 10px 0;
    text-align: left; }
  .modal__input {
    display: block;
    height: 47px;
    width: 100%;
    padding: 0 40px 0 20px;
    color: #7e7e7e;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #383838; }
  .modal__register {
    padding-top: 10px;
    color: #57c5a0;
    font-size: 12px;
    text-align: center; }

.banner__text {
  width: 26%; }

.banner__square {
  display: inline-block;
  vertical-align: middle; }

.banner__title {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0; }

.sort {
  display: inline-block;
  padding: 15px 10px; }
  .sort__title {
    padding: 18px 10px;
    color: #ffffff; }
  .sort__select {
    padding: 20px 35px 20px 50px;
    color: #ffffff;
    font-family: 'Aller', Arial, Helvetica, sans-serif;
    background-image: url(../img/select_arrow.png);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-color: #242424;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .sort__option {
    margin: 12px 20px;
    text-align: left;
    font-family: 'Aller', Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid #666464;
    background-color: #4c4c4c; }

.blocks {
  -webkit-transition: all .4s;
  transition: all .4s; }
  .blocks__item {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    -webkit-transition: all .4s;
    transition: all .4s; }
    .blocks__item_right {
      text-align: right; }
    .blocks__item_full-width {
      display: block; }
    .blocks__item_columns {
      display: inline-block; }

.col-full > .blocks__item,
.col-full.blocks__item {
  width: 100%; }

.col-third > .blocks__item,
.col-third.blocks__item {
  width: 66.66%; }

.col-three-quarters > .blocks__item,
.col-three-quarters.blocks__item {
  width: 75%; }

.col-2 > .blocks__item,
.col-2.blocks__item {
  width: 50%; }

.col-3 > .blocks__item,
.col-3.blocks__item {
  width: 33.33%; }

.col-4 > .blocks__item,
.col-4.blocks__item {
  width: 25%; }

.col-5 > .blocks__item,
.col-5.blocks__item {
  width: 20%; }

@media screen and (max-width: 768px) {
  .col-md-3.blocks__item {
    width: 33.33% !important; }
  .col-md-5.blocks__item {
    width: 50% !important; }
  .col-md-third.blocks__item {
    width: 66.66% !important; } }

@media screen and (max-width: 630px) {
  .col-md-2 > .blocks__item,
  .col-md-2.blocks__item {
    width: 50% !important; } }

@media screen and (max-width: 600px) {
  .col-full > .blocks__item,
  .col-full.blocks__item {
    width: 100%; }
  .col-third > .blocks__item,
  .col-third.blocks__item {
    width: 100%; }
  .col-three-quarters > .blocks__item,
  .col-three-quarters.blocks__item {
    width: 100%; }
  .col-2 > .blocks__item,
  .col-2.blocks__item {
    width: 50%; }
  .col-3 > .blocks__item,
  .col-3.blocks__item {
    width: 100%; }
  .col-4 > .blocks__item,
  .col-4.blocks__item {
    width: 100%; }
  .col-5 > .blocks__item,
  .col-5.blocks__item {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .col-sm-thirt > .blocks__item,
  .col-sm-thirt.blocks__item {
    width: 66.66% !important; }
  .col-sm-3 > .blocks__item,
  .col-sm-3.blocks__item {
    width: 33.33% !important; } }

.offer {
  position: relative;
  margin: 10px 10px;
  height: 180px;
  max-height: 180px;
  background-color: #ffffff;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center; }
  .offer__label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: rgba(36, 36, 36, 0.9);
    width: 80%; }
  .offer__title {
    margin: 20px 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Aller Light';
    font-weight: 200;
    font-size: 25px; }

.product {
  position: relative;
  margin: 10px 10px;
  min-height: 270px; }
  .product__image {
    height: 220px;
    max-height: 220px;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .product__information {
    position: relative;
    height: 48px;
    max-height: 48px;
    background-color: #ffffff;
    overflow: hidden; }
    .product__information:hover > .product__panel {
      opacity: 1;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
  .product__title {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 92px;
    font-size: 17px;
    font-weight: normal; }
  .product__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    .product__panel_list {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .product__panel_icon {
      display: inline-block;
      padding: 0 10px;
      text-align: right;
      color: #6e6e6e;
      cursor: pointer; }
      .product__panel_icon:hover {
        color: #57c5a0; }
      .product__panel_icon:last-of-type {
        padding-right: 40px; }
  .product__square {
    width: 68px;
    height: 68px;
    position: absolute;
    text-transform: uppercase;
    color: #ffffff; }
    .product__square_bottom {
      bottom: 2px;
      left: 12px; }
    .product__square_top {
      top: 0;
      right: 12px; }
    .product__square_green {
      background-color: #57c5a0; }
    .product__square_black {
      background-color: #242424; }
    .product__square_orange {
      background-color: #f27e4b; }
  .product__price, .slider__price, .banner__price, .product__sale, .product__out {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    font-family: 'Aller Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center; }

@media screen and (max-width: 768px) {
  .product__title {
    font-size: 13px; } }

.addon {
  position: relative;
  min-height: 185px;
  margin: 10px 10px;
  padding: 30px 15px 25px 15px;
  background-color: #dfdbd4; }
  .addon__title {
    padding-bottom: 15px;
    color: #242424;
    font-size: 14px;
    font-family: 'Aller Bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .addon__text {
    color: #242424;
    font-size: 12px;
    text-align: left;
    line-height: 1.3; }
    .addon__text_author {
      padding-top: 5px;
      font-family: 'Aller Italic', Arial, Helvetica, sans-serif; }

.blog {
  padding-bottom: 5px; }
  .blog__date {
    display: inline-block;
    margin-right: -4px;
    padding: 10px 12px;
    vertical-align: middle;
    font-size: 10px;
    color: #ffffff;
    font-family: 'Aller Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #57c5a0; }
  .blog__text {
    display: inline-block;
    width: 80%;
    margin-right: -4px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 10px;
    color: #242424; }
  .blog__title {
    padding-bottom: 3px;
    font-size: 10px; }

.footer {
  height: 115px;
  margin-top: -115px;
  position: relative; }
  .footer__description {
    padding: 27px 10px;
    color: #979797;
    font-size: 12px;
    line-height: 1.5; }
  .footer__menu {
    position: relative;
    min-height: 90px; }

.navigation_footer {
  position: absolute;
  top: 35%;
  right: 15px;
  -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
          transform: translateY(-35%); }

.navigation__menu_footer {
  display: block; }

.navigation__element_footer {
  display: inline-block;
  margin-right: -4px;
  color: #979797; }
  .navigation__element_footer:first-child::before {
    content: '';
    padding-left: 0;
    color: #979797;
    vertical-align: middle; }
  .navigation__element_footer::before {
    content: '/';
    padding: 2px;
    vertical-align: middle; }

.navigation__link_footer {
  color: #979797;
  font-size: 12px; }

.widget {
  position: relative;
  margin: 10px 20px; }
  .widget_first {
    padding-left: 10px; }
  .widget__title {
    padding-bottom: 25px;
    color: #6b6b6b;
    font-size: 14px;
    text-transform: uppercase; }
  .widget__text {
    color: #9e9e9e;
    font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3; }

.flickr {
  height: 55px;
  margin: 0 10px 10px 0;
  overflow: hidden; }
  .flickr__image {
    width: auto;
    height: 100px;
    cursor: pointer; }

.twitter__item {
  font-size: 12px;
  font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
  line-height: 1.3; }

.twitter__link {
  color: #9e9e9e; }

.twitter__text {
  padding-bottom: 5px;
  color: #9e9e9e;
  font-style: italic; }

.twitter__date {
  padding-bottom: 7px;
  color: #9e9e9e; }

@media screen and (max-width: 600px) {
  .flickr__image {
    width: 100%; } }

.social {
  position: relative;
  margin: 10px 10px;
  padding: 15px 20px; }
  .social:first-child {
    padding-left: 20px; }
  .social:last-child {
    padding-right: 20px; }
  .social__input {
    width: 215px;
    height: 35px;
    padding: 0 14px;
    color: #9e9e9e;
    font-size: 12px;
    font-family: 'Aller Italic', Arial, Helvetica, sans-serif;
    background-color: #2e2e2e;
    border: none; }
  .social__submit {
    width: 35px;
    height: 35px;
    margin-left: -4px;
    color: #2e2e2e;
    font-size: 12px;
    background-color: #7d7d7d;
    border: none; }
  .social__item {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #2e2e2e; }
    .social__item:hover {
      background-color: #57c5a0; }
  .social__icons {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    height: 15px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .social__icons_small {
      height: 8px; }
    .social__icons_facebook {
      background-image: url(../img/facebook.png); }
    .social__icons_twitter {
      background-image: url(../img/twitter.png); }
    .social__icons_googleplus {
      background-image: url(../img/google_plus.png); }
    .social__icons_linkedin {
      background-image: url(../img/linkedin.png); }
    .social__icons_flickr {
      background-image: url(../img/flickr.png); }

@media screen and (max-width: 640px) {
  .social__input {
    width: auto; } }
