.addon
    position: relative
    min-height: 185px
    margin: 10px 10px
    padding: 30px 15px 25px 15px
    background-color: #dfdbd4
    &__title
        padding-bottom: 15px
        color: #242424
        font-size: 14px
        font-family: 'Aller Bold', Arial, Helvetica, sans-serif
        font-weight: 700
        text-transform: uppercase
    &__text
        color: #242424
        font-size: 12px
        text-align: left
        line-height: 1.3
        &_author
            padding-top: 5px
            font-family: 'Aller Italic', Arial, Helvetica, sans-serif

.blog
    padding-bottom: 5px
    &__date
        display: inline-block
        margin-right: -4px
        padding: 10px 12px
        vertical-align: middle
        font-size: 10px
        color: #ffffff
        font-family: 'Aller Bold', Arial, Helvetica, sans-serif
        font-weight: bold
        text-align: center
        text-transform: uppercase
        background-color: $green
    &__text
        display: inline-block
        width: 80%
        margin-right: -4px
        padding-left: 10px
        vertical-align: middle        
        font-size: 10px
        color: #242424
    &__title
        padding-bottom: 3px
        font-size: 10px