.banner
    &__text
        @extend .slider__text
        width: 26%
    &__square
        @extend .slider__square
        display: inline-block
        vertical-align: middle
        &_green
            @extend .slider__square_green
    &__price
        @extend .product__price
    &__title
        @extend .slider__title
        display: inline-block
        vertical-align: middle
        padding-top: 0
    &__description
        @extend .slider__description