.blocks
    transition: all .4s
    &__item
        display: inline-block
        margin-right: -4px
        vertical-align: top
        transition: all .4s
        &_right
            text-align: right
        &_full-width
            display: block
        &_columns
            display: inline-block

.col-full > .blocks__item,
.col-full.blocks__item
	width: 100%
.col-third > .blocks__item,
.col-third.blocks__item
	width: 66.66%
.col-three-quarters > .blocks__item,
.col-three-quarters.blocks__item
	width: 75%    
.col-2 > .blocks__item,
.col-2.blocks__item
	width: 50%
.col-3 > .blocks__item,
.col-3.blocks__item
	width: 33.33%
.col-4 > .blocks__item,
.col-4.blocks__item
	width: 25%
.col-5 > .blocks__item,
.col-5.blocks__item
	width: 20%

@media screen and (max-width: 768px)
    .col-md-3.blocks__item
        width: 33.33% !important

    .col-md-5.blocks__item
        width: 50% !important
        
    .col-md-third.blocks__item
        width: 66.66% !important

@media screen and (max-width: 630px)
    .col-md-2 > .blocks__item,
    .col-md-2.blocks__item
        width: 50% !important

@media screen and (max-width: 600px)
    .col-full > .blocks__item,
    .col-full.blocks__item
        width: 100%
    .col-third > .blocks__item,
    .col-third.blocks__item
        width: 100%
    .col-three-quarters > .blocks__item,
    .col-three-quarters.blocks__item
        width: 100%    
    .col-2 > .blocks__item,
    .col-2.blocks__item
        width: 50%
    .col-3 > .blocks__item,
    .col-3.blocks__item
        width: 100%
    .col-4 > .blocks__item,
    .col-4.blocks__item
        width: 100%
    .col-5 > .blocks__item,
    .col-5.blocks__item
        width: 100%

@media screen and (max-width: 480px)
    .col-sm-thirt > .blocks__item,
    .col-sm-thirt.blocks__item
        width: 66.66% !important
    .col-sm-3 > .blocks__item,
    .col-sm-3.blocks__item
        width: 33.33% !important