@font-face
    font-family: 'Aller'
    src: url('../fonts/aller/aller_regular/aller_regular.eot')
    src: url('../fonts/aller/aller_regular/aller_regular.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/aller/aller_regular/aller_regular.woff') format('woff')
    src: url('../fonts/aller/aller_regular/aller_regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Aller Light'
    src: url('../fonts/aller/aller_light/aller_light.eot')
    src: url('../fonts/aller/aller_light/aller_light.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/aller/aller_light/aller_light.woff') format('woff')
    src: url('../fonts/aller/aller_light/aller_light.ttf') format('truetype')
    font-weight: 200
    font-style: normal

@font-face
    font-family: 'Aller Italic'
    src: url('../fonts/aller/aller_italic/aller_italic.eot')
    src: url('../fonts/aller/aller_italic/aller_italic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/aller/aller_italic/aller_italic.woff') format('woff')
    src: url('../fonts/aller/aller_italic/aller_italic.ttf') format('truetype')
    font-weight: 400
    font-style: italic

@font-face
    font-family: 'Aller Bold'
    src: url('../fonts/aller/aller_bold/aller_bold.eot')
    src: url('../fonts/aller/aller_bold/aller_bold.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/aller/aller_bold/aller_bold.woff') format('woff')
    src: url('../fonts/aller/aller_bold/aller_bold.ttf') format('truetype')
    font-weight: 700
    font-style: bold