.footer
    height: 115px
    margin-top: -115px
    position: relative
    &__description
        padding: 27px 10px
        color: #979797
        font-size: 12px
        line-height: 1.5
    &__menu
        position: relative
        min-height: 90px

.navigation
    &_footer
        position: absolute
        top: 35%
        right: 15px
        transform: translateY(-35%)
    &__menu
        &_footer
            display: block
    &__element
        &_footer
            display: inline-block
            margin-right: -4px
            color: #979797
            &:first-child
                &::before
                    content: ''
                    padding-left: 0
                    color: #979797
                    vertical-align: middle
            &::before
                content: '/'
                padding: 2px
                vertical-align: middle
    &__link
        &_footer
            color: #979797
            font-size: 12px