.header
    &__top
        background-color: $dark-gray

.logo
    padding: 10px 10px
    &__link
        color: $green
        font-size: 22px

.search
    position: relative
    display: inline-block
    margin-right: -4px
    &__input
        width: 170px
        height: 47px
        padding: 0 40px 0 20px
        color: #7e7e7e
        font-size: 12px
        text-transform: uppercase
        background-color: $dark-gray
        border: none
        border-left: 1px solid #383838
        border-right: 1px solid #383838
    &__button
        position: absolute
        top: 50%
        right: 20px
        transform: translateY(-50%)
        color: #7e7e7e
        background-color: transparent
        border: none
        font-size: 14px
    &__result
        position: absolute
        top: 100%
        width: 100%
        color: #7e7e7e
        font-size: 12px
        text-transform: uppercase
        z-index: 1
    &__item
        padding: 12px 20px
        text-align: left
        border-bottom: 1px solid #666464 
        background-color: #4c4c4c
        
// REMOVE OUTER LINE IN SEARCH INPUT
input[type="search"],
button
    &:focus
        outline: none
// END REMOVE OUTER LINE IN SEARCH INPUT

// REMOVE CROSS IN SEARCH INPUT
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
    display: none
// END REMOVE CROSS IN SEARCH INPUT

.enter
    display: inline-block
    margin-right: -4px
    padding-right: 10px
    &__button
        width: 140px
        height: 47px
        color: #7e7e7e
        font-size: 12px
        text-transform: uppercase
        background-color: transparent
        border: none
        border-right: 1px solid #383838
        cursor: pointer

.navigation
    height: 60px
    padding: 0 10px
    &_right
        text-align: right
    &__menu
        display: block
    &__element
        display: inline-block
        padding: 20px 0
        margin-right: -4px
        border-right: 1px solid #eeeeee
        &:first-child
            border-left: 1px solid #eeeeee
        &_hide
            display: none
    &__link
        padding: 20px
        color: #505050
        font-size: 16px
        &:hover
            color: $green
        &:hover > .navigation__counter
            background-color: $green
        &_active
            color: $green
    &__icon
        color: #787878
        vertical-align: middle
    &__counter
        display: inline-block
        min-width: 20px
        min-height: 20px
        margin-left: 3px
        padding: 2px 2px
        color: #ffffff
        font-size: 12px
        text-align: center
        vertical-align: middle
        background-color: #adadad
        border-radius: 4px

@media screen and (max-width: 810px)
    .navigation
        &__link
            padding: 20px 17px

@media screen and (max-width: 768px)
    .navigation
        &__link
            padding: 20px 10px

@media screen and (max-width: 630px)
    .navigation
        &__element
            &_hide
                display: inline-block
            &_hide-md
                display: none

@media screen and (max-width: 480px)
    .navigation
        &__link
            padding: 20px