.modal
    display: none
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.4)
    overflow: auto
    z-index: 1
    &_flickr
        background-color: rgba(0,0,0,0.9)
    &__content   
        width: 30%
        margin: 10% auto
        padding: 20px 20px 40px 20px
        background-color: #fafaf9
    &__close
        color: #6e6e6e
        font-size: 28px
        font-weight: bold
        cursor: pointer
        &:hover,
        &:focus
            color: $green
            text-decoration: none
        &_flickr
            position: absolute
            top: 15px
            right: 35px
            font-size: 40px
            font-weight: bold
    &__image
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: block
        width: 80%
        max-width: 700px
    &__label
        display: block
        padding: 20px 0 10px 0
        text-align: left
    &__input
        display: block
        height: 47px
        width: 100%
        padding: 0 40px 0 20px
        color: #7e7e7e
        font-size: 12px
        text-transform: uppercase
        border: 1px solid #383838
    &__register
        padding-top: 10px
        color: $green
        font-size: 12px
        text-align: center