.offer
    position: relative
    margin: 10px 10px
    height: 180px
    max-height: 180px
    background-color: #ffffff
    background-size: inherit
    background-repeat: no-repeat
    background-position: center
    &__label
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-color: rgba(36, 36, 36, .9)
        width: 80%
    &__title
        margin: 20px 0
        color: #ffffff
        text-align: center
        text-transform: uppercase
        font-family: 'Aller Light'
        font-weight: 200
        font-size: 25px