.product
    position: relative
    margin: 10px 10px
    min-height: 270px
    &__image
        height: 220px
        max-height: 220px
        border-bottom: 1px solid #cccccc
        background-color: #ffffff
        background-size: contain
        background-repeat: no-repeat
        background-position: center
    &__information
        position: relative
        height: 48px
        max-height: 48px
        background-color: #ffffff
        overflow: hidden
        &:hover > .product__panel
            opacity: 1
            transition: opacity .3s
    &__title
        position: absolute
        top: 50%
        right: 0
        left: 0
        bottom: 0
        transform: translateY(-50%)
        margin-left: 92px
        font-size: 17px
        font-weight: normal
    &__panel
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background-color: #ffffff
        opacity: 0
        cursor: pointer
        transition: opacity .3s
        &_list
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)
        &_icon
            display: inline-block
            padding: 0 10px
            text-align: right
            color: #6e6e6e
            cursor: pointer
            &:hover
                color: $green
            &:last-of-type
                padding-right: 40px
    &__square
        width: 68px
        height: 68px
        position: absolute
        text-transform: uppercase
        color: #ffffff
        &_bottom
            bottom: 2px
            left: 12px
        &_top
            top: 0
            right: 12px
        &_green
            background-color: $green
        &_black
            background-color: $dark-gray
        &_orange
            background-color: #f27e4b
    &__price,
    &__sale,
    &__out
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        font-family: 'Aller Bold', Arial, Helvetica, sans-serif
        font-weight: 700
        font-size: 13px
        text-align: center

@media screen and (max-width: 768px)
    .product
        &__title
            font-size: 13px  