.section
    position: relative
    &_gray
        background-color: $gray
    &_light-gray
        background-color: $light-gray
    &_dark-gray
        background-color: $dark-gray
    &_top
        height: 260px
        background-size: cover
        background-position: bottom
        background-repeat: no-repeat
    &_offer
        padding: 15px 0
    &_best
        padding-bottom: 35px
    &_addon
        border-top: 1px solid #cccccc
        padding: 15px 0
    &_widget
        padding-top: 40px
        border-bottom: 1px solid #1c1c1c
    &_all
        padding-bottom: 35px