.slider
    position: relative
    &__block
        width: 10000px
    &__element
        float: left
    &__text
        position: absolute
        top: 50%
        left: 70%
        width: 25%
        transform: translate(-50%, -50%)
    &__square
        position: relative
        width: 68px
        height: 68px
        text-transform: uppercase
        color: #ffffff
        &_green
            background-color: $green
    &__price
        @extend .product__price
    &__title
        padding-top: 10px
        font-size: 35px
        color: #565655
        font-weight: 300
        line-height: 1
    &__description
        padding-top: 10px
        color: #242424
        font-family: 'Aller Light', Arial, Helvetica, sans-serif
    &__panel
        padding-top: 10px
        &_icon
            display: inline-block
            padding: 10px 12px
            text-align: right
            color: #6e6e6e
            background-color: #fafaf9
            cursor: pointer
            &:hover
                color: $green
    &__navigation
        padding: 6px 0 25px 0
        text-align: center
        background-color: $gray
    &__content
        max-width: 960px
        margin: 0 auto
    &__button
        display: inline-block
        width: 190px
        margin-right: -4px
        cursor: pointer
        &_active
            & > .slider__button_title
                color: #ffffff
            & > .slider__button_description
                color: #adadad
            & > .slider__line > .slider__line_inner
                background-color: $green  
        &:hover > .slider__button_title
            color: #ffffff
        &:hover > .slider__button_description
            color: #adadad
        &:hover > .slider__line > .slider__line_inner
            background-color: $green        
        &_title
            padding-top: 15px
            font-size: 18px
            color: #979797
        &_description
            font-size: 12px
            color: #6e6e6e
    &__line
        padding: 3px 3px
        background-color: #000000
        &_inner
            height: 6px
            background-color: #000000

@media screen and (max-width: 768px)
    .slider
        &__text
            width: 35%

@media screen and (max-width: 640px)
    .slider
        height: 460px
        background-image: url(../img/slide.jpg)
        background-position: 25%
        background-repeat: no-repeat
        &__text
            position: absolute
            top: 50%
            left: 50%
            width: 90%
            transform: translate(-50%, -50%)