.social
    position: relative
    margin: 10px 10px
    padding: 15px 20px
    &:first-child
        padding-left: 20px
    &:last-child
        padding-right: 20px
    &__input
        width: 215px
        height: 35px
        padding: 0 14px
        color: #9e9e9e
        font-size: 12px
        font-family: 'Aller Italic', Arial, Helvetica, sans-serif
        background-color: $gray
        border: none
    &__submit
        width: 35px
        height: 35px
        margin-left: -4px
        color: $gray
        font-size: 12px
        background-color: #7d7d7d
        border: none
    &__item
        position: relative
        display: inline-block
        width: 35px
        height: 35px
        background-color: $gray
        &:hover
            background-color: $green
    &__icons
        position: absolute
        top: 50%
        right: 0
        left: 0
        transform: translateY(-50%)
        display: block
        height: 15px
        vertical-align: middle
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        &_small
            height: 8px
        &_facebook
            background-image: url(../img/facebook.png)
        &_twitter
            background-image: url(../img/twitter.png)
        &_googleplus
            background-image: url(../img/google_plus.png)
        &_linkedin
            background-image: url(../img/linkedin.png)
        &_flickr
            background-image: url(../img/flickr.png)

@media screen and (max-width: 640px)
    .social
        &__input
            width: auto    