.sort
    display: inline-block
    padding: 15px 10px
    &__title
        padding: 18px 10px
        color: #ffffff
    &__select
        padding: 20px 35px 20px 50px
        color: #ffffff
        font-family: 'Aller', Arial, Helvetica, sans-serif
        background-image: url(../img/select_arrow.png)
        background-position: 90% center
        background-repeat: no-repeat
        background-color: $dark-gray
        border: none
        appearance: none
    &__option
        margin: 12px 20px
        text-align: left
        font-family: 'Aller', Arial, Helvetica, sans-serif
        border: none
        border-bottom: 1px solid #666464
        background-color: #4c4c4c