.widget
    position: relative
    margin: 10px 20px
    &_first
        padding-left: 10px
    &__title
        padding-bottom: 25px
        color: #6b6b6b
        font-size: 14px
        text-transform: uppercase
    &__text
        color: #9e9e9e
        font-family: 'Aller Italic', Arial, Helvetica, sans-serif
        font-size: 12px
        line-height: 1.3

.flickr
    height: 55px
    margin: 0 10px 10px 0
    overflow: hidden
    &__image
        width: auto
        height: 100px
        cursor: pointer

.twitter
    &__item
        font-size: 12px
        font-family: 'Aller Italic', Arial, Helvetica, sans-serif
        line-height: 1.3
    &__link
        color: #9e9e9e
    &__text
        padding-bottom: 5px
        color: #9e9e9e
        font-style: italic
    &__date
        padding-bottom: 7px
        color: #9e9e9e

@media screen and (max-width: 600px)
    .flickr
        &__image
            width: 100%