@import 'variables'
@import 'mixins'
@import 'fonts'

* 
	margin: 0
	padding: 0
	box-sizing: border-box

html
	width: 100%
	height: 100%

body
    width: 100%
    height: 100%
    font-family: 'Aller', Arial, Helvetica, sans-serif

a,
select,
option
	text-decoration: none
	outline: none
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent

img
	width: 100%
	height: auto

li
    list-style: none

.main
    min-height: 100%
    overflow: hidden
    position: relative
    &::after
        content: ''
        height: 115px
        display: block

.content
    position: relative
    max-width: 960px
    margin: 0 auto

.title
    display: inline-block
    padding: 40px 10px 25px 10px
    font-family: 'Aller Light', Arial, Helvetica, sans-serif
    font-weight: 200

.breadcrumbs
    display: inline-block
    color: #bcb5a7
    font-size: 12px
    font-family: 'Aller Bold', Arial, Helvetica, sans-serif

.description
    display: inline-block
    padding: 0 9px
    color: #bcb5a7
    font-size: 14px

.button
    display: inline-block
    margin: 40px 10px 25px 0
    color: #bcb5a7
    font-size: 14px
    font-family: 'Aller Bold', Arial, Helvetica, sans-serif
    font-weight: 700
    cursor: pointer
    border: 1px solid #bcb5a7
    &:hover
        color: #57c5a0
        border: 1px solid #57c5a0
    &__icon
        display: block
        padding: 9px
    &__text
        display: block
        color: #bcb5a7
        &:hover
            color: #57c5a0
        &_show-all
            padding: 9px 20px
        &_sort
            padding: 9px 9px 9px 35px
            &:hover
                color: #57c5a0

.hide
    &_lg
        display: none !important

@media screen and (max-width: 768px)
    .content
        max-width: 640px

    .hide
        &_md
            display: none !important

@media screen and (max-width: 640px)
    .content
        max-width: 640px

    .hide
        &_sm
            display: none !important

    .show
        &_sm
            &-inline-block
                display: inline-block !important


.clearfix
	@include clearfix()

@import 'header'
@import 'section'
@import 'slider'
@import 'modals'
@import 'banner'
@import 'sort'
@import 'blocks'
@import 'offer'
@import 'product'
@import 'addon'
@import 'footer'
@import 'widget'
@import 'social'